{% extends 'base.html' %}

{% block content %}

<div class="container wrapper flex-grow-1">

    <h1 class="my-4">{{ title }}</h1>
    
<div class="card">
    <div class="card-header bg-secondary text-white">
      <h2>Предложение отправил {{ proposal.ad_sender }}</h2>
    </div>

  <div class="card-body bg-light">
    <p>Предложение получил {{ proposal.ad_receiver }}</p>
  <hr>

  <div class="container">
    <div class="row p-1">
      <div class="col">Комментарий</div>
      {% if proposal.comment %}
      <div class="col">{{ proposal.comment }}</div>
      {% else %}
      <div class="col">Отсутствует</div>
      {% endif %}
    </div>

    <div class="row p-1">
      <div class="col">Статус предложения</div>
      <div class="col">{{ proposal.status }}</div>
    </div>


    <div class="row p-1">
      <div class="col">Дата создания предложения</div>
      <div class="col">{{ proposal.created_at|date:"d.m.Y H:i" }}</div>
    </div>

    
    <div class="row p-1">
      <div class="col">
        <a href="{% url 'proposal_update' proposal.pk %}">Изменить</a>
        <br>
        <a href="{% url 'proposal_delete' proposal.pk %}">Удалить</a>
      </div>
      {% if request.user.is_authenticated %}
      <a class="btn btn-primary mb-3" href="{% url 'proposal_create' %}">Сделать предложение</a>
      {% endif %}
    </div>
  </div>
</div>
</div>

  </div>
{% endblock %}
